Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Loading Data

In [ ]:
df = pd.read_excel("/content/Churn_Modelling.xlsx")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,15634602.0,Hargrave,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1.0
1,2.0,15647311.0,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0.0
2,3.0,15619304.0,Onio,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1.0
3,4.0,15701354.0,Boni,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0.0
4,5.0,15737888.0,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0.0

In [ ]:
df.Exited = df.Exited.astype(int)
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1.0,15634602.0,Hargrave,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1
1,2.0,15647311.0,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0
2,3.0,15619304.0,Onio,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1
3,4.0,15701354.0,Boni,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,0.0,93826.63,0
4,5.0,15737888.0,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0

Segregating X & Y

In [ ]:
X = df.iloc[:,3:-1].values
X

array([[619.0, 'France', 'Female', ..., 1.0, 1.0, 101348.88],
       [608.0, 'Spain', 'Female', ..., 0.0, 1.0, 112542.58],
       [502.0, 'France', 'Female', ..., 1.0, 0.0, 113931.57],
       ...,
       [709.0, 'France', 'Female', ..., 0.0, 1.0, 42085.58],
       [772.0, 'Germany', 'Male', ..., 1.0, 0.0, 92888.52],
       [792.0, 'France', 'Female', ..., 1.0, 0.0, 38190.78]], dtype=object)

In [ ]:
Y = df.Exited.values
Y

array([1, 0, 1, ..., 1, 1, 0])

Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
LE1 = LabelEncoder()
X[:,1] = LE1.fit_transform(X[:,1])

In [ ]:
LE2 = LabelEncoder()
X[:,2] = LE2.fit_transform(X[:,2])

In [ ]:
X

array([[619.0, 0, 0, ..., 1.0, 1.0, 101348.88],
       [608.0, 2, 0, ..., 0.0, 1.0, 112542.58],
       [502.0, 0, 0, ..., 1.0, 0.0, 113931.57],
       ...,
       [709.0, 0, 0, ..., 0.0, 1.0, 42085.58],
       [772.0, 1, 1, ..., 1.0, 0.0, 92888.52],
       [792.0, 0, 0, ..., 1.0, 0.0, 38190.78]], dtype=object)

Standadization

In [ ]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
X = SS.fit_transform(X)
X

array([[-0.32622142, -0.90188624, -1.09598752, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.44003595,  1.51506738, -1.09598752, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.53679418, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.60498839, -0.90188624, -1.09598752, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.25683526,  0.30659057,  0.91241915, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.46377078, -0.90188624, -1.09598752, ...,  0.64609167,
        -1.03067011, -1.07636976]])

Splitting

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [ ]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

ANN Modelling

In [ ]:
# step1 :- initialize the Model
ann = Sequential()

# step2 :- Add Layers into model
ann.add( Dense(units = 6, activation = "relu") )
ann.add( Dense(units = 1, activation = "sigmoid") )

# step3 :- Establihing connection 
ann.compile(optimizer='adam', loss = 'binary_crossentropy', metrics=["accuracy"])

# step4 :- Fit the model
ann.fit(X_train, Y_train, batch_size = 30, epochs = 100)

# step5 :- Predict the model
Y_pred = ann.predict(X_test)

Epoch 1/100
234/234 [==============================] - 3s 4ms/step - loss: 0.6279 - accuracy: 0.6667
Epoch 2/100
234/234 [==============================] - 1s 3ms/step - loss: 0.4739 - accuracy: 0.7931
Epoch 3/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4471 - accuracy: 0.8003
Epoch 4/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4359 - accuracy: 0.8037
Epoch 5/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4290 - accuracy: 0.8096
Epoch 6/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4239 - accuracy: 0.8100
Epoch 7/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4197 - accuracy: 0.8146
Epoch 8/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4157 - accuracy: 0.8160
Epoch 9/100
234/234 [==============================] - 1s 3ms/step - loss: 0.4122 - accuracy: 0.8187
Epoch 10/100
234/234 [==============================] - 1s 4ms/step - loss: 0.4091 - accuracy: 0.8211
Epoch 11/100
234/234 [==============================] - 1s 3ms/step - loss: 0.4064 - accuracy: 0.8223
Epoch 12/100
234/234 [==============================] - 1s 6ms/step - loss: 0.4036 - accuracy: 0.8227
Epoch 13/100
234/234 [==============================] - 2s 7ms/step - loss: 0.4012 - accuracy: 0.8229
Epoch 14/100
234/234 [==============================] - 1s 5ms/step - loss: 0.3988 - accuracy: 0.8243
Epoch 15/100
234/234 [==============================] - 1s 6ms/step - loss: 0.3969 - accuracy: 0.8239
Epoch 16/100
234/234 [==============================] - 1s 4ms/step - loss: 0.3949 - accuracy: 0.8246
Epoch 17/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8263
Epoch 18/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8277
Epoch 19/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8273
Epoch 20/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3879 - accuracy: 0.8276
Epoch 21/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8277
Epoch 22/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3850 - accuracy: 0.8280
Epoch 23/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3837 - accuracy: 0.8277
Epoch 24/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3826 - accuracy: 0.8284
Epoch 25/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3816 - accuracy: 0.8291
Epoch 26/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8326
Epoch 27/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3796 - accuracy: 0.8411
Epoch 28/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3787 - accuracy: 0.8410
Epoch 29/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3779 - accuracy: 0.8429
Epoch 30/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3772 - accuracy: 0.8429
Epoch 31/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3764 - accuracy: 0.8437
Epoch 32/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3757 - accuracy: 0.8433
Epoch 33/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3750 - accuracy: 0.8449
Epoch 34/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3745 - accuracy: 0.8436
Epoch 35/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3738 - accuracy: 0.8457
Epoch 36/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3731 - accuracy: 0.8449
Epoch 37/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3724 - accuracy: 0.8466
Epoch 38/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3721 - accuracy: 0.8470
Epoch 39/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3710 - accuracy: 0.8484
Epoch 40/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3709 - accuracy: 0.8484
Epoch 41/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3703 - accuracy: 0.8510
Epoch 42/100
234/234 [==============================] - 1s 4ms/step - loss: 0.3698 - accuracy: 0.8487
Epoch 43/100
234/234 [==============================] - 1s 4ms/step - loss: 0.3697 - accuracy: 0.8491
Epoch 44/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3688 - accuracy: 0.8511
Epoch 45/100
234/234 [==============================] - 1s 4ms/step - loss: 0.3685 - accuracy: 0.8507
Epoch 46/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3681 - accuracy: 0.8517
Epoch 47/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3676 - accuracy: 0.8500
Epoch 48/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3672 - accuracy: 0.8521
Epoch 49/100
234/234 [==============================] - 1s 4ms/step - loss: 0.3668 - accuracy: 0.8526
Epoch 50/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3663 - accuracy: 0.8511
Epoch 51/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3661 - accuracy: 0.8519
Epoch 52/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3659 - accuracy: 0.8526
Epoch 53/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3649 - accuracy: 0.8534
Epoch 54/100
234/234 [==============================] - 1s 6ms/step - loss: 0.3651 - accuracy: 0.8520
Epoch 55/100
234/234 [==============================] - 2s 7ms/step - loss: 0.3646 - accuracy: 0.8537
Epoch 56/100
234/234 [==============================] - 1s 6ms/step - loss: 0.3642 - accuracy: 0.8537
Epoch 57/100
234/234 [==============================] - 1s 5ms/step - loss: 0.3643 - accuracy: 0.8537
Epoch 58/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3639 - accuracy: 0.8531
Epoch 59/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3634 - accuracy: 0.8521
Epoch 60/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3629 - accuracy: 0.8526
Epoch 61/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3633 - accuracy: 0.8524
Epoch 62/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8526
Epoch 63/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3622 - accuracy: 0.8539
Epoch 64/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8521
Epoch 65/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8536
Epoch 66/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3616 - accuracy: 0.8521
Epoch 67/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8544
Epoch 68/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8550
Epoch 69/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3607 - accuracy: 0.8550
Epoch 70/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3608 - accuracy: 0.8517
Epoch 71/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3603 - accuracy: 0.8554
Epoch 72/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8550
Epoch 73/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3600 - accuracy: 0.8544
Epoch 74/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3600 - accuracy: 0.8551
Epoch 75/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3594 - accuracy: 0.8547
Epoch 76/100
234/234 [==============================] - 1s 3ms/step - loss: 0.3597 - accuracy: 0.8540
Epoch 77/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3589 - accuracy: 0.8554
Epoch 78/100
234/234 [==============================] - 1s 2ms/step - loss: 0.3590 - accuracy: 0.8527
Epoch 79/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8551
Epoch 80/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8531
Epoch 81/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8546
Epoch 82/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3585 - accuracy: 0.8546
Epoch 83/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3584 - accuracy: 0.8541
Epoch 84/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3583 - accuracy: 0.8524
Epoch 85/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3580 - accuracy: 0.8540
Epoch 86/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8544
Epoch 87/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3577 - accuracy: 0.8540
Epoch 88/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3576 - accuracy: 0.8550
Epoch 89/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3578 - accuracy: 0.8533
Epoch 90/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3575 - accuracy: 0.8540
Epoch 91/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3572 - accuracy: 0.8549
Epoch 92/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3569 - accuracy: 0.8553
Epoch 93/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3570 - accuracy: 0.8557
Epoch 94/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8559
Epoch 95/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8564
Epoch 96/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3568 - accuracy: 0.8540
Epoch 97/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3562 - accuracy: 0.8554
Epoch 98/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8534
Epoch 99/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8551
Epoch 100/100
234/234 [==============================] - 0s 2ms/step - loss: 0.3561 - accuracy: 0.8543
94/94 [==============================] - 0s 1ms/step

In [ ]:
# step6 :- Set Threshold
Y_pred = np.where(Y_pred>0.5,1,0)

In [ ]:
Y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [ ]:
# evaluation
from sklearn.metrics import classification_report
print( classification_report(Y_test,Y_pred) )

              precision    recall  f1-score   support

           0       0.86      0.96      0.91      2373
           1       0.74      0.42      0.54       627

    accuracy                           0.85      3000
   macro avg       0.80      0.69      0.72      3000
weighted avg       0.84      0.85      0.83      3000